*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    font-weight: 300;
    font-family: Roboto;    
    line-height: 1.4;
    background-color: #b3c5d7;
}
nav{
    height: 80px;
    width: 100%;
    background:#d7b3b3;
    z-index: 1;
} 
.logo{  
    color:  #052e58;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
    font-size: 24px;
}  
.small{
    font-weight: 500;
    font-size: 15px;
}    
nav ul{
    float: right;
    margin-right: 5px;
}
nav ul li{  
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #052e58;
    font-size: 17px;
    font-weight: 500;
    padding: 7px 13px;
    text-decoration:none;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active, a:hover{
    background: white;
    transition: 0.5s;
    color: black;
}
.checkbtn{
    font-size: 30px;
    color: beige;
    float:right;
    line-height:80px;
    margin-right:40px;
    cursor:pointer;
    display: none;
}
#check{
    display: none;
}

.container{
    max-width: 60vw;
    margin: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.container h1{
    color: #006d77;
}
.box1{
    border-radius: 1rem;
    padding: 1rem;
    border: 1px solid #6B7B8C;
    height: auto;
    color: rgb(172, 178, 184);
    width: 600px;
    align-self: flex-start;
    background-image: url(plain.avif);
    box-shadow: 2px 2px 5px #6B7B8C;
    background-color: #006d77;
}
.box2{
    border-radius: 1rem;
    padding: 1rem;
    border: 1px solid #6B7B8C;
    border-radius: 10px;
    height: auto;
    color: rgb(172, 178, 184);
    width: 600px;
    align-self: flex-end;
    background-image: url(plain.avif);
    box-shadow: 2px 2px 5px #6B7B8C;
    background-color: #006d77;
}
.box3{
    border-radius: 1rem;
    padding: 1rem;
    padding-right: 5px;
    border: 1px solid #6B7B8C;
    height: auto;
    color: rgb(172, 178, 184);
    width: 600px;
    align-self: flex-start;
    background-image: url(plain.avif);
    box-shadow: 2px 2px 5px #6B7B8C;
    background-color: #006d77;
}
.box4{
    border-radius: 1rem;
    padding: 1rem;
    padding-right: 5px;
    border: 1px solid #6B7B8C;
    height: auto;
    color: rgb(172, 178, 184);
    width: 600px;
    align-self: flex-end;
    background-image: url(plain.avif);
    box-shadow: 2px 2px 5px #6B7B8C;
    background-color: #006d77;
}

.icon{
    padding: 6px;
    margin: 4px; 
}
.para_text{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.head_text{
    font-size: 20px;
    font-weight: 600;
    margin: 2px;
    padding: 5px;
    color: beige;
}
.footer_content{
    /* width: 90vw; */
    padding-top: 20px;
    padding-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: flex;
    /* justify-content: space-between; */
    background:#d7b3b3;
    /* opacity: 0.8; */
    justify-content: space-around;
    margin-top: 150px;
    line-height: 1.8em;
    font-weight: 600;
}
.follow a{
    color: black;
}
.follow a:hover{
    background-color:#d7b3b3;
}
@media screen and (max-width:800px){
    nav{
        z-index: 1;
        max-width: 100%;    
    }
    .logo{
        padding: 0;
        display:block;
        margin-left: 0.7rem;
        font-size: 18px;  
        /* display: none;  */
    }
    .small{
       display: none;
    }
    .checkbtn{
        display:block;
    }
    ul{
        position:fixed;
        z-index:1;
        width: 100%;
        height: 100vh;
        /* background: #b3c5d7; */
        background:url('images/background.avif');
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0px;
        font-weight: bold;
        line-height: 30px;
    }
    a.active, a:hover{
        background: none;
        color: black;
    }
    #check:checked ~ul{
        left: 0;
    }
    .container{
        align-items: center;
        width: auto;
        max-width: 60vw;
    }
    .box1, .box2, .box3, .box4{
        width: auto;
        height: auto;
    }
    .para_text{
        font-size: large;
    }
    .myedu h1{
        font-size:30px;

    }
    footer{
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        justify-items: center;
        gap: 10px;
        align-items: center;
        width: auto;
    }
    .email{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .big{
        font-size: 18px;
        font-weight: 500;
    }
}
