*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    line-height: 1.8em;
    font-weight: 450;
    /* font-family: Roboto; */
    font-family: Merriweather;
    background-color: #ccd5e0;
}
.content{
    /* max-width: 1000px; */
    max-width: auto;
    /* border: 2px solid red; */
    margin: auto;
    margin-top: 100px;
    font-weight: 300;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "contact phone email";
    color: #052e58;
}
nav{
    height: 80px;
    width: 100%;
    background:#d7b3b3;
    z-index: 1;
} 
.logo{  
    color:  #052e58;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
    font-size: 24px;
}  
.small{
    font-weight: 500;
    font-size: 15px;
}    
nav ul{
    float: right;
    margin-right: 5px;
}
nav ul li{  
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #052e58;
    font-size: 17px;
    font-weight: 500;
    text-decoration:none;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active, a:hover{
    background: white;
    transition: 0.5s;
    color: black;
}
.checkbtn{
    font-size: 30px;
    color: beige;
    float:right;
    line-height:80px;
    margin-right:40px;
    cursor:pointer;
    display: none;
}
#check{
    display: none;
}
.contact h2{
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 5px;
}
.content{
    display: flex;
    justify-content: space-between;
}
.box1{
    /* border: 1px solid black; */
    margin-left: 7%;
    padding: 10px;
}
.box2{
    /* border: 1px solid black; */
    padding: 10px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 200;
    font-size: 13px;
    margin-right: 7%;
}
.con1 {
   display: flex;
   justify-content: space-around;
}
.con2{
    display: flex;
    justify-content: space-around;
}
/* .con3{
    display: flex;
    justify-content: space-around;
} */
.empty{
    border: 1px solid black;
    padding: 10px;
    width: 150px;
    margin: 10px;
}

input#fname{
    height: 35px;
    width: 200px;
    border-radius: 4px;
    padding: 7px;
    box-shadow: inset;
    border: 1px solid grey;
    margin-right: 5px;
}
input#lname{
    height: 35px;
    width: 200px;
    border-radius: 4px;
    padding: 7px;
    box-shadow: inset;
    border: 1px solid grey;
    margin-left: 5px;
}
input#email{
    height: 35px;
    width: 200px;
    border-radius: 4px;
    padding: 7px;
    border: 1px solid grey;
    margin-right: 5px;
    box-shadow: inset;
}
input#subject{
    height: 35px;
    width: 200px;
    border-radius: 4px;
    padding: 7px;
    border: 1px solid grey;
    margin-left: 5px;
    box-shadow: inset;
}
input#message{
    height: 70px;
    width: 410px;
    border-radius: 4px;
    padding: 7px;
    border: 1px solid grey;
    box-shadow: inset;
    justify-content: center;
    align-items: center;
}
.item6 button{
    color: #143456;
    padding: 7px;
    margin: 10px auto auto auto;
    background-color: ghostwhite;
    border: 1px solid grey;
    border-radius: 5px;
}
.phone a{
    text-decoration-line: none;
    color: #1d354d;
}
.email_ a{
    text-decoration-line: none;
    color: #1d354d;
}
.footer_content{
    /* width: 90vw; */
    padding-top: 20px;
    padding-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: flex;
    /* justify-content: space-between; */
    background:#d7b3b3;
    /* opacity: 0.8; */
    justify-content: space-around;
    margin-top: 150px;
    line-height: 1.8em;
    font-weight: 600;
}
.follow a{
    color: black;
}
.follow a:hover{
    background-color:#d7b3b3;
}
@media screen and (max-width:800px){
    nav{
        z-index: 1;
        max-width: 100%;    
    }
    .logo{
        padding: 0;
        display:block;
        margin-left: 0.7rem;
        font-size: 18px;  
        /* display: none;  */
    }
    .small{
       display: none;
    }
    .checkbtn{
        display:block;
    }
    ul{
        position:fixed;
        z-index:1;
        width: 100%;
        height: 100vh;
        /* background: #b3c5d7; */
        background:url('images/background.avif');
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0px;
        font-weight: bold;
        line-height: 30px;
    }
    a.active, a:hover{
        background: none;
        color: black;
    }
    #check:checked ~ul{
        left: 0;
    }
    footer{
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        justify-items: center;
        gap: 10px;
        align-items: center;
    }
    .email{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .big{
        font-size: 18px;
        font-weight: 500;
    }
    .content{
        display: flex;
        flex-direction: column;
    }
    .con1{
        display: flex;
        flex-direction: column;
    }
    .con2{
        display: flex;
        flex-direction: column;
    }
    .box2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
    }
    input#fname, input#lname, input#email, input#subject, input#message{
        width: 250px;
        border-width: 2px;
    }
}
